.friends_display_link {
  text-align: center;
  display: block;
  background-color: var(--sub-red);
  padding: 15px 0px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: -15px;
}
.fa-circle-info {
  margin: 0px 3px;
}
.exclamation {
  border-radius: 50%;
  border: 1px solid white;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
  right: -17px;
}
.fa-exclamation {
  color: white;
}
