.nav {
  padding: 20px 50px;
  border-top: 2px solid #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav_ul {
  display: flex;
  justify-content: space-between;
}
.nav_notification {
  background-color: white;
  color: black;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border: 2px solid var(--red);
}
.nav_a {
  position: relative;
}
