#no_mobile {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--sub-red);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media screen and (max-width: 700px) {
  #no_mobile {
    display: none;
  }
}
