@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
body {
  font-family: Pretendard, -apple-system, "Signika Negative", sans-serif,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.status-bar {
  display: flex;
  justify-content: center;
}
.status-bar_column:first-child span {
  margin-right: 5px;
}
.status-bar_column {
  width: 33%;
}
.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar_column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar_column .fa-battery-three-quarters {
  margin: 0px 4px;
}
