@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variable.css";
@import "login-form-and-img.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends.css";
@import "user-component.css";
body {
  font-family: Pretendard, -apple-system, "Signika Negative", sans-serif,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--red);
  height: 300vh;
}
